name: Teamo deployment

on:
  push:
    branches:
      - main
      - deploy


# This is not nice and a lot of duplication
# Will fix when actions in actions are supported.
# See https://github.com/actions/runner/issues/646
jobs:
  deploy-main:
    name: Deploy main branch
    if: github.ref == 'refs/heads/main'
    env:
      BRANCH: main
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Clean up Teamo previous deploy
      uses: appleboy/ssh-action@master
      with:
        host: '${{ secrets.DEPLOY_HOST }}'
        username: '${{ secrets.DEPLOY_USERNAME }}'
        passphrase: '${{ secrets.DEPLOY_PASSPHRASE }}'
        key: '${{ secrets.DEPLOY_KEY }}'
        port: '${{ secrets.DEPLOY_PORT }}'
        script: |
          set -e
          rm -r -f teamo/$BRANCH/src
          docker stop teamo-$BRANCH-instance || true
          docker rm teamo-$BRANCH-instance || true
    - name: Copy Teamo to server
      uses: appleboy/scp-action@master
      with:
        host: '${{ secrets.DEPLOY_HOST }}'
        username: '${{ secrets.DEPLOY_USERNAME }}'
        passphrase: '${{ secrets.DEPLOY_PASSPHRASE }}'
        key: '${{ secrets.DEPLOY_KEY }}'
        port: '${{ secrets.DEPLOY_PORT }}'
        source: '*'
        target: teamo/$BRANCH/src
    - name: Start Docker container
      uses: appleboy/ssh-action@master
      with:
        host: '${{ secrets.DEPLOY_HOST }}'
        username: '${{ secrets.DEPLOY_USERNAME }}'
        passphrase: '${{ secrets.DEPLOY_PASSPHRASE }}'
        key: '${{ secrets.DEPLOY_KEY }}'
        port: '${{ secrets.DEPLOY_PORT }}'
        script: |
          set -e
          docker build -t teamo-$BRANCH teamo/$BRANCH/src
          touch teamo/$BRANCH/db/teamo.db
          docker run -e TEAMO_BOT_TOKEN=${{ secrets.TEAMO_BOT_TOKEN_MAIN }} -d -v $PWD/teamo/$BRANCH/db/teamo.db:/teamo/db/teamo.db --name teamo-$BRANCH-instance teamo-$BRANCH
          sleep 10
          if [ "$( docker container inspect -f '{{.State.Status}}' teamo-$BRANCH-instance )" == "running" ]; then exit 0; else echo "Docker container is not running. Did it crash during startup?" && exit 1; fi

  deploy-deploy:
    name: Deploy deploy branch
    if: github.ref == 'refs/heads/deploy'
    env:
      BRANCH: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Clean up Teamo previous deploy
      uses: appleboy/ssh-action@master
      with:
        host: '${{ secrets.DEPLOY_HOST }}'
        username: '${{ secrets.DEPLOY_USERNAME }}'
        passphrase: '${{ secrets.DEPLOY_PASSPHRASE }}'
        key: '${{ secrets.DEPLOY_KEY }}'
        port: '${{ secrets.DEPLOY_PORT }}'
        script: |
          set -e
          rm -r -f teamo/$BRANCH/src
          docker stop teamo-$BRANCH-instance || true
          docker rm teamo-$BRANCH-instance || true
    - name: Copy Teamo to server
      uses: appleboy/scp-action@master
      with:
        host: '${{ secrets.DEPLOY_HOST }}'
        username: '${{ secrets.DEPLOY_USERNAME }}'
        passphrase: '${{ secrets.DEPLOY_PASSPHRASE }}'
        key: '${{ secrets.DEPLOY_KEY }}'
        port: '${{ secrets.DEPLOY_PORT }}'
        source: '*'
        target: teamo/$BRANCH/src
    - name: Start Docker container
      uses: appleboy/ssh-action@master
      with:
        host: '${{ secrets.DEPLOY_HOST }}'
        username: '${{ secrets.DEPLOY_USERNAME }}'
        passphrase: '${{ secrets.DEPLOY_PASSPHRASE }}'
        key: '${{ secrets.DEPLOY_KEY }}'
        port: '${{ secrets.DEPLOY_PORT }}'
        script: |
          set -e
          docker build -t teamo-$BRANCH teamo/$BRANCH/src
          touch teamo/$BRANCH/db/teamo.db
          docker run -e TEAMO_BOT_TOKEN=${{ secrets.TEAMO_BOT_TOKEN_DEPLOY }} -d -v $PWD/teamo/$BRANCH/db/teamo.db:/teamo/db/teamo.db --name teamo-$BRANCH-instance teamo-$BRANCH
          sleep 10
          if [ "$( docker container inspect -f '{{.State.Status}}' teamo-$BRANCH-instance )" == "running" ]; then exit 0; else echo "Docker container is not running. Did it crash during startup?" && exit 1; fi


# jobs:
#   deploy:
#     name: Deploy
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: ./.github/actions/deploy-action
#         if: github.ref == 'refs/heads/main'
#         with:
#           bot-token: ${{ secrets.TEAMO_BOT_TOKEN_MAIN }}
#           host: ${{ secrets.DEPLOY_HOST }}
#           port: ${{ secrets.DEPLOY_PORT }}
#           username: ${{ secrets.DEPLOY_USERNAME }}
#           key: ${{ secrets.DEPLOY_KEY }}
#           passphrase: ${{ secrets.DEPLOY_PASSPHRASE }}
#           branch: main
#       - uses: ./.github/actions/deploy-action
#         if: github.ref == 'refs/heads/deploy'
#         with:
#           bot-token: ${{ secrets.TEAMO_BOT_TOKEN_DEPLOY }}
#           host: ${{ secrets.DEPLOY_HOST }}
#           port: ${{ secrets.DEPLOY_PORT }}
#           username: ${{ secrets.DEPLOY_USERNAME }}
#           key: ${{ secrets.DEPLOY_KEY }}
#           passphrase: ${{ secrets.DEPLOY_PASSPHRASE }}
#           branch: deploy
