name: Teamo deployment

on:
  push:
    branches:
      - main
      - deploy

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/deploy-action
        if: ${{ github.refs == "refs/main" }}
        with:
          bot-token: ${{ secrets.TEAMO_BOT_TOKEN_MAIN }}
          host: ${{ secrets.DEPLOY_HOST }}
          port: ${{ secrets.DEPLOY_PORT }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          passphrase: ${{ secrets.DEPLOY_PASSPHRASE }}
          branch: main
      - uses: ./.github/actions/deploy-action
        if: ${{ github.refs == "refs/deploy" }}
        with:
          bot-token: ${{ secrets.TEAMO_BOT_TOKEN_DEPLOY }}
          host: ${{ secrets.DEPLOY_HOST }}
          port: ${{ secrets.DEPLOY_PORT }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          passphrase: ${{ secrets.DEPLOY_PASSPHRASE }}
          branch: deploy
