name: Teamo deployment

on:
  push:
    branches:
      - main
      - deploy
    paths-ignore:
      - tests/**


# This is not nice and a lot of duplication
# Will fix when actions in actions are supported.
# See https://github.com/actions/runner/issues/646
jobs:
  deploy-main:
    name: Deploy main branch
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        architecture: x64
    - name: Build the wheel package
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python setup.py bdist_wheel
    - name: Extract some stuff
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        echo "##[set-output name=version;]$(cat VERSION})"
      id: extract_stuff
    - name: Build the Docker image
      run: |
        docker build -t teamo:${{ steps.extract_stuff.outputs.branch }} --build-arg VERSION=0.1.0 .
        docker save -o teamo-docker.tar teamo:${{ steps.extract_stuff.outputs.branch }}
    - name: Copy docker image to server
      uses: appleboy/scp-action@master
      with:
        host: '${{ secrets.DEPLOY_HOST }}'
        username: '${{ secrets.DEPLOY_USERNAME }}'
        passphrase: '${{ secrets.DEPLOY_PASSPHRASE }}'
        key: '${{ secrets.DEPLOY_KEY }}'
        port: '${{ secrets.DEPLOY_PORT }}'
        source: 'teamo-docker.tar'
        target: teamo/${{ steps.extract_stuff.outputs.branch }}
    - name: Load the Docker container
      run: |
        docker stop teamo-${{ steps.extract_stuff.outputs.branch }}-instance || true
        docker rm teamo-${{ steps.extract_stuff.outputs.branch }}-instance || true
        docker load -i teamo/${{ steps.extract_stuff.outputs.branch }}/teamo-docker.tar
    - name: Launch the Docker container
      if: steps.extract_stuff.outputs.branch == 'main'
      run: docker run -e TEAMO_BOT_TOKEN=${{ secrets.TEAMO_BOT_TOKEN_MAIN }} -d -v $PWD/teamo/${{ steps.extract_stuff.outputs.branch }}/db/teamo.db:/teamo/db/teamo.db --name teamo-${{ steps.extract_stuff.outputs.branch }}-instance teamo:${{ steps.extract_stuff.outputs.branch }}
    - name: Launch the Docker container
      if: steps.extract_stuff.outputs.branch == 'deploy'
      run: docker run -e TEAMO_BOT_TOKEN=${{ secrets.TEAMO_BOT_TOKEN_DEPLOY }} -d -v $PWD/teamo/${{ steps.extract_stuff.outputs.branch }}/db/teamo.db:/teamo/db/teamo.db --name teamo-${{ steps.extract_stuff.outputs.branch }}-instance teamo:${{ steps.extract_stuff.outputs.branch }}
    - name: Make sure the Docker container is running
      run: |
        sleep 10
        if [ "$( docker container inspect -f '{{.State.Status}}' teamo-${{ steps.extract_stuff.outputs.branch }}-instance )" == "running" ]; then exit 0; else echo "Docker container is not running. Did it crash during startup?" && exit 1; fi

# jobs:
#   deploy:
#     name: Deploy
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: ./.github/actions/deploy-action
#         if: github.ref == 'refs/heads/main'
#         with:
#           bot-token: ${{ secrets.TEAMO_BOT_TOKEN_MAIN }}
#           host: ${{ secrets.DEPLOY_HOST }}
#           port: ${{ secrets.DEPLOY_PORT }}
#           username: ${{ secrets.DEPLOY_USERNAME }}
#           key: ${{ secrets.DEPLOY_KEY }}
#           passphrase: ${{ secrets.DEPLOY_PASSPHRASE }}
#           branch: main
#       - uses: ./.github/actions/deploy-action
#         if: github.ref == 'refs/heads/deploy'
#         with:
#           bot-token: ${{ secrets.TEAMO_BOT_TOKEN_DEPLOY }}
#           host: ${{ secrets.DEPLOY_HOST }}
#           port: ${{ secrets.DEPLOY_PORT }}
#           username: ${{ secrets.DEPLOY_USERNAME }}
#           key: ${{ secrets.DEPLOY_KEY }}
#           passphrase: ${{ secrets.DEPLOY_PASSPHRASE }}
#           branch: deploy
