name: Teamo tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install .
          python -m pip install pytest pytest-asyncio
      - name: Run tests with pytest
        run: pytest --junitxml=junit/test-results.xml
      - name: Upload pytest results
        uses: actions/upload-artifact@v2
        with:
          name: Test results
          path: junit/test-results.xml
        if: ${{ always() }}
